body { background: #ccbbc9; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 31px; display: flex; }
.block-metrics-0 { color: #5b18d0; font-size: 12px; margin-bottom: 5px; }
.block-user-1 { color: #58260; font-size: 13px; margin-bottom: 5px; }
.block-helper-2 { color: #b80e21; font-size: 14px; margin-bottom: 5px; }
.block-helper-3 { color: #7a20a5; font-size: 12px; margin-bottom: 5px; }
.block-logger-4 { color: #cbbf82; font-size: 16px; margin-bottom: 5px; }
.block-metrics-5 { color: #22bc99; font-size: 17px; margin-bottom: 5px; }
.block-token-6 { color: #1b0eb7; font-size: 18px; margin-bottom: 5px; }
.block-config-7 { color: #d4f48e; font-size: 21px; margin-bottom: 5px; }